{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_messages.html' %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">

      <p class="card-text">Vaš trenutno stanje je <strong>{{ balance }}</strong> SUM.</p>

      <form method="POST" action="">
        <div class="form-group">
          <label for="username">Korisničko ime</label>
          {{ form.username(class_="form-control") }}
        </div>

        <div class="form-group">
          <label for="amount">Iznos za slanje</label>
          {{ form.amount(class_="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-3">Pošalji</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


